@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-soft-white: #f0f2f2;
    --color-pale-gray: #8d95a6;
    --color-night-blue: #1b3059;
    --color-dark-blue: #132240;
    --color-blue-black: #0d1526;
}